

.arrow-icon {
  fill: gray; /* Default color for light mode */
  transition: fill 0.3s ease, transform 0.3s ease;
}

body.dark-mode .arrow-icon {
  fill: white; /* Color for dark mode */
}

.authcard{
  background-image: url('./assets/Authcard.svg');
}
.edgecard{
  
  background-image: url('./assets/EdgeFunction.webp');
}
.databasecard{
  background-image: url('./assets/databaselogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.vectorcard{
  background-image: url('./assets/Vector.svg');
  
}

